/* Page setup and common variables */

@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Titillium Web", sans-serif;
  --black: #000000;
  --white: #ffffff;
  --dark-grey: #404040;
  --light-grey: #EBEBEB;
  --red: #FF5757;
  --titillium: "Titillium Web", sans-serif;
}

h1,
h2 {
  font-family: "Oxygen", sans-serif;
  text-transform: uppercase;
}

/* Buttons */
.btn {
  font-family: var(--titillium);
  border:none;
  color:var(--white);
  border-radius: 5px;
  cursor: pointer;
  padding:7px;
}
.btn:hover,
.btn:active {
  opacity: 0.75;
}
.btn:active {
  border: 1px solid var(--white);
}

.signUpBtn {
  background-color: var(--red);
  border: 1px solid var(--red);
}

.loginBtn {
  background-color: var(--black);
  border:1px solid var(--black)
}

.submitBtn {
  background-color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  margin:0 auto;
  padding:0 25px;
}
.headerLeftFlex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width:50%;
  gap:50px;
}
.logoImg {
  width:100px;
  height:100px;
}
.navList {
  width:300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navItem {
  list-style: none;
}
.navItem:hover,
.navItem:active {
  font-weight: 600;
  cursor: pointer;
}
.navItem:active {
  color:var(--dark-grey);
}
.navItem.onPage {
  font-weight: 600;
}
.navItem.onPage::before {
  position: absolute;
  margin-top:25px;
  content: "";
  width:50px;
  height: 1px;
  background: var(--red);
}
.headerRightFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:150px;
}